<mat-card>
    <mat-card-title class="m-3">Tasks</mat-card-title>
    
    <mat-card>
        <button mat-button> <mat-icon class="align-middle" aria-hidden="false" aria-label="Example home icon">help</mat-icon></button>
        <button mat-button>Archive</button>
        <button mat-button>Demote</button>
        <button mat-button>Save</button>
        <button mat-button>Cancel</button>

        <mat-card class="m-3">
            <div class="form-column">
                <mat-card-title class="form-row p-5">Tasks Overview</mat-card-title>
                <a class="nav-link" routerLink="/add-task">
                    <button mat-button class="bg-primary text-light"> Add Task</button>
                </a>
    
            </div>
            <div class="form-inline">
                <div class="form-column p-5">
                    <table mat-table [dataSource]="dataSource" class="center mat-elevation-z8">
                        <!--- Note that these columns can be defined in any order.
                            The actual rendered columns are set as a property on the row definition" -->
                        <!-- select Column -->
                        <ng-container class="form-column p-5"matColumnDef="checkbox">
                            <th mat-header-cell *matHeaderCellDef> Select</th>
                            <td mat-cell *matCellDef="let element"> <mat-checkbox></mat-checkbox></td>
                        </ng-container>

                        <!-- subTask Column -->
                        <ng-container matColumnDef="subtaskCount">
                            <th mat-header-cell *matHeaderCellDef> No. ST <mat-icon class="align-middle" aria-hidden="false" aria-label="Example home icon">unfold_more</mat-icon> </th>
                            <td mat-cell *matCellDef="let element"> {{element.subtaskCount}} </td> 
                        </ng-container>
            
                        <!-- title Column -->
                        <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef> Title <mat-icon class="align-middle" aria-hidden="false" aria-label="Example home icon">unfold_more</mat-icon> </th>
                            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                        </ng-container>
                    
                        <!-- analyst Column -->
                        <ng-container matColumnDef="analyst">
                            <th mat-header-cell *matHeaderCellDef> Analyst <mat-icon class="align-middle" aria-hidden="false" aria-label="Example home icon">unfold_more</mat-icon> </th>
                            <td mat-cell *matCellDef="let element"> {{element.analyst}} </td>
                        </ng-container>
                    
                        <!-- findingsCount Column -->
                        <ng-container matColumnDef="findingsCount">
                            <th mat-header-cell *matHeaderCellDef> No. F <mat-icon class="align-middle" aria-hidden="false" aria-label="Example home icon">unfold_more</mat-icon></th>
                            <td mat-cell *matCellDef="let element"> {{element.findingsCount}} </td>
                        </ng-container>
                    
                        <!-- system Column -->
                        <ng-container matColumnDef="system">
                            <th mat-header-cell *matHeaderCellDef> System <mat-icon class="align-middle" aria-hidden="false" aria-label="Example home icon">unfold_more</mat-icon> </th>
                            <td mat-cell *matCellDef="let element"> {{element.system}} </td>
                        </ng-container>

                        <!-- priority column -->
                        <ng-container matColumnDef="priority">
                            <th mat-header-cell *matHeaderCellDef> Priority <mat-icon class="align-middle" aria-hidden="false" aria-label="Example home icon">unfold_more</mat-icon> </th>
                            <td mat-cell *matCellDef="let element"> {{element.priority}} </td>
                        </ng-container>

                        <!-- progress column -->
                        <ng-container matColumnDef="progress">
                            <th mat-header-cell *matHeaderCellDef> Progress <mat-icon class="align-middle" aria-hidden="false" aria-label="Example home icon">unfold_more</mat-icon> </th>
                            <td mat-cell *matCellDef="let element"> {{element.progress}}% </td>
                        </ng-container>
                        <!-- duedate column -->
                        <ng-container matColumnDef="duedate">
                            <th mat-header-cell *matHeaderCellDef> Due Date <mat-icon class="align-middle" aria-hidden="false" aria-label="Example home icon">unfold_more</mat-icon> </th>
                            <td mat-cell *matCellDef="let element"> {{element.dueDate}} </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    </table>
                </div>
            </div>
        </mat-card>

  
  