.display-card {
    min-width: 400px;
    min-height: 100px;
}

.max-width-and-height{
    width:100%;
    height: 100%;
}

.bold-text{
    font-weight: bold;
}

.margin-m{
    margin: 1.5em;
}

.margin-s{
    margin-top:1em;
}

.pt-s{
    padding-top: 1.5em;
}

.font-size-s {
    font-size: small;
}

.font-size-m{
    font-size: medium;
}

.font-size-l{
    font-size: large;
}