
<div *ngIf="system.s_archived!=true;else archiveButton"><button mat-raised-button color="primary" (click)="return()"> <- Back to System View</button></div>

<h5> System Detailed View </h5>
<mat-grid-list cols="3" rowHeight="120px">
    <div *ngFor="let curr of system | keyvalue">
        <div *ngIf="systemAttributeToDisplayText.get(curr.key)!=null">
            <mat-grid-tile>
                <mat-card class='display-card'>
                    <mat-card-title>{{systemAttributeToDisplayText.get(curr.key)}}</mat-card-title>
                    {{curr.value}}
                </mat-card>
            </mat-grid-tile>
        </div>
    </div>
</mat-grid-list>

<ng-template #archiveButton>
    <button mat-raised-button color="primary" (click)="gotoArchive()"> <- Back to Archive View</button>
    <br>
</ng-template>