<mat-card>
  <mat-card-title class="m-3">Event Detailed</mat-card-title>
  <a class="nav-link" routerLink="/add-event">
    <button mat-button class="bg-primary text-light"> Add Event</button>
  </a>
  <mat-card>
      <button mat-button> <mat-icon class="align-middle" aria-hidden="false" aria-label="Example home icon">help</mat-icon></button>
      <mat-card class="m-3">
          <div class="form-column">
              <mat-card-title class="form-row p-5">Event Basic Information</mat-card-title>
              <mat-form-field class="p-3 form-group ">
                  <mat-label>Event Name</mat-label>
                  <input matInput type="text" value="eventname">
              </mat-form-field>

              <mat-form-field class="p-3 form-group  w-100 h-25">
                  <mat-label>Event Description</mat-label>
                  <input matInput type="text" value="eventdescription">
              </mat-form-field>

              <mat-form-field class="p-3 form-group ">
                  <mat-label>Event Name</mat-label>
                  <input matInput type="text" value="eventname">
              </mat-form-field>
  
              <mat-form-field class="p-3 form-group" appearance="fill">
                  <mat-label>Event Type</mat-label>
                  <mat-select [disabled]="disableSelect.value">
                      <mat-option value="option1">Type 1</mat-option>
                      <mat-option value="option2">Type 2</mat-option>
                      <mat-option value="option3">Type 3</mat-option>
                  </mat-select>
              </mat-form-field>
  
              <mat-form-field class="p-3 form-group ">
                  <mat-label>Event Version</mat-label>
                  <input matInput type="text" value="5">
              </mat-form-field>
  
              <mat-form-field class="p-3 ">
                  <mat-label>Assessment Date</mat-label>
                  <input matInput type="text" value="05/12/2020">
              </mat-form-field>
  
              <mat-form-field class="p-3 ">
                  <mat-label>Organization Name</mat-label>
                  <input matInput type="text" value="organizationname">
              </mat-form-field>
  
              <mat-form-field class="p-3 ">
                  <mat-label>Security Classification Title Guide</mat-label>
                  <input matInput type="text" value="titleguide">
              </mat-form-field>
  
              <mat-form-field class="p-3 form-group" appearance="fill">
                  <mat-label>Event Classification</mat-label>
                  <mat-select [disabled]="disableSelect.value">
                      <mat-option value="option1">Classification 1</mat-option>
                      <mat-option value="option2">Classification 2</mat-option>
                      <mat-option value="option3">Classification 3</mat-option>
                  </mat-select>
              </mat-form-field>
  
              <mat-form-field class="p-3 ">
                  <mat-label>Declassification Date</mat-label>
                  <input matInput type="text" value="05/12/2020">
              </mat-form-field>
  
              <mat-form-field class="p-3 ">
                  <mat-label> Customer Name </mat-label>
                  <input matInput type="text" value="name">
              </mat-form-field>
          </div>
          
      </mat-card>
      <mat-card class="m-3">
          <mat-card-title class="p-5"> Event Team Information</mat-card-title>
          <div class="form-inline">
              <div class="form-column p-3">
                  <mat-card-title> Lead Analyst 
                      <button mat-button>
                          <mat-icon class="align-middle" aria-hidden="false" aria-label="Example home icon">person_add</mat-icon> 
                      </button>
                  </mat-card-title>
                  <mat-form-field appearance="fill">
                      <mat-label>Actions</mat-label>
                      <mat-select [disabled]="disableSelect.value">
                          <mat-option value="option1">Remove</mat-option>
                          <mat-option value="option2">Edit</mat-option>
                          <mat-option value="option3">Sync</mat-option>
                      </mat-select>
                  </mat-form-field>
  
                  
                  <table mat-table [dataSource]="dataSource" class="center mat-elevation-z8">
                      <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                  
                      <!-- Position Column -->
                      <ng-container matColumnDef="checkbox">
                          <th mat-header-cell *matHeaderCellDef> Select</th>
                          <td mat-cell *matCellDef="let element"> <mat-checkbox></mat-checkbox></td>
                      </ng-container>
          
                      <!-- Position Column -->
                      <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef> Initials <mat-icon class="align-middle" aria-hidden="false" aria-label="Example home icon">unfold_more</mat-icon> </th>
                      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                      </ng-container>
                  
                      <!-- Name Column -->
                      <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> No. Systems <mat-icon class="align-middle" aria-hidden="false" aria-label="Example home icon">unfold_more</mat-icon> </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                      </ng-container>
                  
                      <!-- Weight Column -->
                      <ng-container matColumnDef="weight">
                      <th mat-header-cell *matHeaderCellDef> Event Name <mat-icon class="align-middle" aria-hidden="false" aria-label="Example home icon">unfold_more</mat-icon></th>
                      <td mat-cell *matCellDef="let element"> <a routerLink="/eventdetailed"> {{element.weight}} </a> </td>
                      </ng-container>
                  
                      <!-- Symbol Column -->
                      <ng-container matColumnDef="symbol">
                      <th mat-header-cell *matHeaderCellDef> Progress <mat-icon class="align-middle" aria-hidden="false" aria-label="Example home icon">unfold_more</mat-icon> </th>
                      <td mat-cell *matCellDef="let element"> {{element.symbol}}% </td>
                      </ng-container>
              
                  
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              
                  </table>
              </div>
              <div class="form-column p-3">
                  <mat-card-title> Analysts
                      <button mat-button>
                          <mat-icon class="align-middle" aria-hidden="false" aria-label="Example home icon">person_add</mat-icon> 
                      </button>
                  </mat-card-title>
                  <mat-form-field appearance="fill">
                      <mat-label>Actions</mat-label>
                      <mat-select [disabled]="disableSelect.value">
                          <mat-option value="option1">Remove</mat-option>
                          <mat-option value="option2">Edit</mat-option>
                          <mat-option value="option3">Sync</mat-option>
                      </mat-select>
                  </mat-form-field>
  
                  
                  <table mat-table [dataSource]="dataSource" class="center mat-elevation-z8">
                      <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                  
                      <!-- Position Column -->
                      <ng-container matColumnDef="checkbox">
                          <th mat-header-cell *matHeaderCellDef> Select</th>
                          <td mat-cell *matCellDef="let element"> <mat-checkbox></mat-checkbox></td>
                      </ng-container>
          
                      <!-- Position Column -->
                      <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef> Initials <mat-icon class="align-middle" aria-hidden="false" aria-label="Example home icon">unfold_more</mat-icon> </th>
                      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                      </ng-container>
                  
                      <!-- Name Column -->
                      <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> No. Systems <mat-icon class="align-middle" aria-hidden="false" aria-label="Example home icon">unfold_more</mat-icon> </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                      </ng-container>
                  
                      <!-- Weight Column -->
                      <ng-container matColumnDef="weight">
                      <th mat-header-cell *matHeaderCellDef> Event Name <mat-icon class="align-middle" aria-hidden="false" aria-label="Example home icon">unfold_more</mat-icon></th>
                      <td mat-cell *matCellDef="let element"> <a routerLink="/eventdetailed"> {{element.weight}} </a> </td>
                      </ng-container>
                  
                      <!-- Symbol Column -->
                      <ng-container matColumnDef="symbol">
                      <th mat-header-cell *matHeaderCellDef> Progress <mat-icon class="align-middle" aria-hidden="false" aria-label="Example home icon">unfold_more</mat-icon> </th>
                      <td mat-cell *matCellDef="let element"> {{element.symbol}}% </td>
                      </ng-container>
              
                  
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              
                  </table>
              </div>
          </div>
      </mat-card>
  </mat-card>

  <mat-card class = "w-50 m-4">
      <mat-card-title>Add/Edit Overlay</mat-card-title>
      <div class="form-column">
              <mat-form-field class="p-3 form-field">
                  <mat-label>First Name</mat-label>
                  <input matInput type="text" value="Xavier">
              </mat-form-field>
      
              <mat-form-field class="p-3 form-field">
                  <mat-label>Last Name</mat-label>
                  <input matInput type="text" value="Hernandez">
              </mat-form-field>
      </div>

      <div class="form-column">
          <mat-form-field class="p-3 ">
              <mat-label> Initial </mat-label>
              <input matInput type="text" value="XH">
          </mat-form-field>
  
          <mat-form-field class="p-3 ">
              <mat-label> Title </mat-label>
              <input matInput type="text" value="Analyst">
          </mat-form-field>
      </div>
  </mat-card>

  <mat-card class = "w-75 m-4">
      <mat-card-title>Sync Overlay</mat-card-title>
      <div class="form-column">
          <div class="form-row row">
              <mat-card-title class="p-2 form-field"> From: </mat-card-title>
              <mat-form-field appearance="fill">
                  <mat-label>Analyst</mat-label>
                  <mat-select [disabled]="disableSelect.value">
                      <mat-option value="option1">XM</mat-option>
                      <mat-option value="option2">ER</mat-option>
                      <mat-option value="option3">ZV</mat-option>
                  </mat-select>
              </mat-form-field>
      
              <mat-form-field class="p-3 form-field">
                  <mat-label>IP Address: </mat-label>
                  <input matInput type="text" value="Hernandez">
              </mat-form-field>
          </div>
              
      </div>

      <div class="form-column">
          <mat-form-field class="p-3 ">
              <mat-label> Initial </mat-label>
              <input matInput type="text" value="XH">
          </mat-form-field>
  
          <mat-form-field class="p-3 ">
              <mat-label> Title </mat-label>
              <input matInput type="text" value="Analyst">
          </mat-form-field>
      </div>
  </mat-card>
  
</mat-card>

