<h1>Event View</h1>
<div *ngIf="event==null;else eventDetailedView"><mat-card>
  <div>There is no current event</div>
  <br>
  <button mat-raised-button color="primary" (click)="openModal()">Create Event</button> 
</mat-card>

<create-event></create-event>
  
</div>


<div *ngIf="archivedEvents!=null">
    <span>Archived Events</span>
    <div *ngFor="let e of archivedEvents; index as i">
        <mat-card><div>{{e.e_id}}</div><button>ReOpen?</button></mat-card>
    </div>
</div>

<ng-template #eventDetailedView>
    <h5>Event Detailed View</h5>
    <mat-grid-list cols="3" rowHeight="15vh">
        
        <div *ngFor="let curr of event | keyvalue">
            <div *ngIf="eventAttributeToDisplayText.get(curr.key)!=null">
                <mat-grid-tile>
                    <mat-card class='display-card'>
                        <mat-card-title class="font-size-m" >{{eventAttributeToDisplayText.get(curr.key)}}</mat-card-title>
                        <div class="font-size-s">
                            {{curr.value}}
                        </div>
                        
                    </mat-card>
                </mat-grid-tile>
            </div>
        </div>
    </mat-grid-list>

</ng-template>