<h1>Event View</h1>
<div *ngIf="event==null;else eventDetailedView"><mat-card>
  <div>There is no current event</div>
  <br>
  <button mat-raised-button color="primary" (click)="openModal()">Create Event</button> 
</mat-card>

<create-event></create-event>
  
</div>


<div *ngIf="archivedEvents!=null">
    <span>Archived Events</span>
    <div *ngFor="let e of archivedEvents; index as i">
        <mat-card><div>{{e.e_id}}</div><button>ReOpen?</button></mat-card>
    </div>
</div>










<ng-template #eventDetailedView><span>event detailed view</span>

    <mat-card>
        ID: {{event.e_id}}
    </mat-card>
    <br>
    <mat-card>
        Name: {{event.e_name}}
    </mat-card>
    <br>
    <mat-card>
        Org Name: {{event.e_org_name}}
    </mat-card>
    <br>
    <mat-card>
        Type: {{event.e_type}}
    </mat-card>
    <br>
    <mat-card>
        Version: {{event.e_version}}
    </mat-card>
    <br>
    <mat-card>
        Assessment Date: {{event.e_assessment_date}}
    </mat-card>
    <br>
    <mat-card>
        Classification: {{event.e_classification}}
    </mat-card>
</ng-template>