<form [formGroup]="addTaskForm" (ngSubmit)="submitTaskClicked()">
    <mat-card>
        <mat-card-title class="m-3">Create New Task</mat-card-title>
        <mat-card class="bg-secondary">
            <mat-card class="m-3">
                <div class="form-column">
                   
                    <mat-card-title class="form-row p-5">Task Basic Information</mat-card-title>
                    
                    <mat-form-field class="p-3 form-group ">
                        <mat-label>Task Name</mat-label>
                        <input matInput type="text" value="" id="taskName" [value]="taskName" formControlName="t_name">
                    </mat-form-field>

                    <mat-form-field class="p-3 form-group  w-100 h-25">
                        <mat-label>Task Description</mat-label>
                        <input matInput type="text" value="" id="taskDescription" [value]="taskDescription" formControlName="t_description">
                    </mat-form-field>

                    <mat-form-field class="p-3 form-group  w-100 h-25">
                        <mat-label>Task Priority</mat-label>
                        <mat-select [disabled]="disableSelect.value" id="taskDescription" [value]="taskDescription" formControlName="t_priority">
                            <mat-option value="Type 1">Low</mat-option>
                            <mat-option value="Type 2">Medium</mat-option>
                            <mat-option value="Type 3">High</mat-option>
                        </mat-select>
                    </mat-form-field>  
                    <mat-form-field class="p-3 form-group  w-100 h-25">
                        <mat-label>Task Progress</mat-label>
                        <input matInput type="text" value="" id="taskProgress" [value]="taskProgress" formControlName="t_progress">
                    </mat-form-field>

                    <mat-form-field class="p-3 form-group  w-100 h-25">
                        <mat-label>Task Due Date</mat-label>
                        <input matInput type="text" value="" id="taskDueDate" [value]="taskDueDate" formControlName="t_due_date">
                    </mat-form-field>

                </div>
                
            </mat-card>
            <a class="nav-link">
                <button mat-button class="bg-primary text-light" type="submit">Submit</button>
            </a>
        </mat-card>

        
    </mat-card>

</form>