<div *ngIf="!subtask.st_archived;else archiveButton"><button mat-raised-button color="primary" (click)="return()"> <- Back to SubTask View</button></div>

<br>

<mat-grid-list cols="3" rowHeight="15vh">
    <div *ngFor="let curr of subtask | keyvalue">
        <div *ngIf="subTaskAttributeToDisplayText.get(curr.key)!=null">
            <mat-grid-tile class="display-card">
                <mat-card class="display-card">
                    <mat-card-title class="font-size-m">
                        {{subTaskAttributeToDisplayText.get(curr.key)}}
                    </mat-card-title>
                    <div class="font-size-s">
                        {{curr.value}}
                    </div>
                </mat-card>
            </mat-grid-tile>
        </div>
    </div>
</mat-grid-list>

<button mat-raised-button color="primary" (click)="goToTask(subtask.t_id)">Go to Task</button>
<div *ngFor="let curr of attachmentsList; index as i;">
    <h5>Attachment #{{i+1}}</h5>
    <img style="height:auto; width: auto;" src={{curr}}>
</div>
<ng-template #archiveButton>
    <button mat-raised-button color="primary" (click)="gotoArchive()"> <- Back to Archive View</button>
    <br>
  </ng-template>