<div *ngIf="!subtask.st_archived;else archiveButton">
    <button mat-raised-button color="primary" (click)="return()"> <- Back to SubTask View</button>
    <button mat-raised-button class="right-align" color="primary" (click)="archive()"> Archive SubTask</button>
</div>

<br>
<mat-card>
    Name: {{subtask.st_name}}
</mat-card>
<br>
<mat-card>
    Priority: {{subtask.st_priority}}
</mat-card>
<br>
<mat-card>
    Progress: {{subtask.st_progress}}
</mat-card>
<br>
<mat-card>
    Due Date: {{subtask.st_due_date}}
</mat-card>
<br>
<mat-card>
    Description: {{subtask.st_description}}
</mat-card>
<br>
<mat-card>
    Associated System: {{task.t_name}}
</mat-card>

<ng-template #archiveButton>
    <button mat-raised-button color="primary" (click)="gotoArchive()"> <- Back to Archive View</button>
    <br>
  </ng-template>