<div *ngIf="!task.t_archived;else archiveButton"><button mat-raised-button color="primary" (click)="return()"> <- Back to Task View</button></div>

<br>
<mat-card>
    Name: {{task.t_name}}
</mat-card>
<br>
<mat-card>
    Priority: {{task.t_priority}}
</mat-card>
<br>
<mat-card>
    Progress: {{task.t_progress}}
</mat-card>
<br>
<mat-card>
    Due Date: {{task.t_due_date}}
</mat-card>
<br>
<mat-card>
    Description: {{task.t_description}}
</mat-card>
<br>
<mat-card>
    Associated System: {{system.s_name}}
</mat-card>

<ng-template #archiveButton>
    <button mat-raised-button color="primary" (click)="gotoArchive()"> <- Back to Archive View</button>
    <br>
</ng-template>