<div *ngIf="!task.t_archived;else archiveButton"><button mat-raised-button color="primary" (click)="return()"> <- Back to Task View</button></div>

<h4> Task Details </h4>
<br>

<mat-grid-list cols="3" rowHeight="15vh">
    <div *ngFor="let curr of task | keyvalue">
        <div *ngIf="taskAttributeToDisplayText.get(curr.key) !=null">
            <mat-grid-tile>
                <mat-card class="display-card">
                    <mat-card-title class="font-size-m">
                        {{taskAttributeToDisplayText.get(curr.key)}}
                    </mat-card-title>
                    <div class="font-size-s">
                        {{curr.value}}
                    </div>
                </mat-card>
            </mat-grid-tile>
        </div>
    </div>
</mat-grid-list>

<button mat-raised-button color="primary" (click)="goToSystem(task.s_id.toString())">View Associated System</button>

<div *ngFor="let curr of attachmentsList; index as i;">
    <h5>Attachment #{{i+1}}</h5>
    <img style="height:auto; width: auto;" src={{curr}}>
</div>
<ng-template #archiveButton>
    <button mat-raised-button color="primary" (click)="gotoArchive()"> <- Back to Archive View</button>
    <br>
</ng-template>